/* ==================================== ADMIN UI CSS ==================================== */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* == Global Styles == */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
}
:root{
    --primary-color: #0e8708;
    --secondary-color: #db4437;
    --accent-color: #f4b400;
    --background-color: #ffffff;
    --text-color1:#ffffff;
    --text-color: #202124;
    --button-highlight:#fc034a;
    --sub-color:#818589;
     --grey-color:#bababa;
}
body {
  height: 100vh;
  background-color: var(--background-color);
}
html, body{
    scrollbar-width: none;

    -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar{
    display: none;
}

/* ==== ADMIN NAV ==== */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    z-index: 10; 
}
nav .nav-bar .admin-logo{
    color: var(--text-color1);
    font-size: 20px;
    font-weight: 500;
}
nav .nav-bar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .nav-bar .nav-list{
    height: 100%;
    line-height: 60px;
}
nav .nav-bar .nav-list .list{
    display: flex;
}
nav .nav-bar .nav-list .list li{
    position: relative;
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0 10px;
}
nav .nav-bar .nav-list .list li a{
    font-size: 14px;    
    height: auto;
    color: var(--text-color1);
    text-decoration: none;
    white-space: nowrap;
}
nav .nav-bar .nav-list .list li .admin-arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--background-color);
    line-height: 60px;
    transition: 0.3s ease;
}
nav .nav-bar .nav-list .list li:hover .admin-arrow{
    transform: rotate(180deg);
}    
nav .nav-bar .nav-list .list li a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

/* ==== DROPDOWN ==== */

.nav-bar .nav-list .list .Issuance-Dropdown{
    position: absolute;
    top: 60px;
    left: 0;
    background: var(--primary-color);
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1 2px var(--secondary-color);
    display: none;
}
.nav-bar .nav-list .list .Issuance-Dropdown li{
    padding: 0 21px;
    border-bottom: 1px solid var(--background-color);
}
.nav-bar .nav-list .list .Issuance-Dropdown li a{
    font-size: 14px;
    color: var(--text-color1);
    font: 400;
}
.nav-bar .nav-list .list li:hover .Issuance-Dropdown{
    display: block;
}

/* ==== search, notification & account ==== */

/* ==== search ==== */
.nav-bar .search-box, .notification-section, 
.account-section{
    padding: 0 20px;
    right: 0;
    display: flex;
}
.nav-bar .search-box{
    position: relative;
    width: 30px;
    height: 30px;
}
.nav-bar .search-box i{
    color: var(--background-color);
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.nav-bar .search-box .search-input{
    height: 50px;
    width: 300px;
    background: var(--primary-color);
    position: absolute;
    top: 70px;
    right: calc(100% - 30px);
    border-radius: 4px;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
.nav-bar.showsearch .search-box .search-input{
    opacity: 1;
    pointer-events: auto;
    top:50px;
}
.nav-bar .search-box .search-input input{
    position: absolute;
    height: 35px;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
}


/* ==== notification ==== */

.nav-bar .notification-section{
    position: relative;
    width: 30px;
    height: 30px;
}
.nav-bar .notification-section .notification{
    color: var(--background-color);
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

/* ==== notif-menu ==== */

.notification-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    align-items: center;
    overflow: hidden;
    max-height: 0px;
}
.notification-menu.notif-toggle{
    max-height: 400px;
}
.notif-menu{
    background: var(--background-color);
    padding: 20px;
    margin: 18px;
    box-shadow: 0 2px 4px 0 var(--sub-color);
    border-radius: 5px;
}
.notif-menu h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.notif{
    float: left;
    display: flex;
    padding: 10px;
    align-items: center;
}
.notif-update p{
    font-size: 0.80rem;
    cursor: pointer;
}
.date{
    color: var(--sub-color);
}
.notif img{
    gap: 10px;
    position: absolute;
    width: 25px;
}
.notif-update {
    margin-left: 45px;
    font-size: 12px
}

/* ==== account ==== */

.nav-bar .account-section{
    position: relative;
    width: 30px;
    height: 30px;
}
.nav-bar .account-section .account{
    color: var(--background-color);
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.nav-bar .menu, .close, .mobileview-logo{
    display: none;
    font-size: 15px;
}


/* ==== acc-submenu ==== */

.sub-menu-acc{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 250px;
    overflow: hidden;
    max-height: 0;
}
.sub-menu-acc.toggle-menu{
    max-height: 400px;
}
.sub-menu{
    background: var(--background-color);
    padding: 10px;
    margin: 18px;
    box-shadow: 0 2px 4px 0 var(--sub-color);
    border-radius: 5px;
}
.user{
    display: flex;
    align-items: center;
}
.user h3{
    font-weight: 600;
    font-size: 0.95rem;
}
.user img{
    width: 40px;
    border-radius: 20%;
    margin-right: 15px;
}
.sub-menu hr{
    background: var(--sub-color);
    height: 1px;
    width: 100%;
    border: 0;
    margin: 12px 0 10px;
}
.sub-menus{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    color: var(--text-color);
}
.sub-menus i{
    width: 30px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menus p{
    font-size: 0.80rem;
    width: 100%;
    flex: 1;
}
.sub-menu span{
    font-size: 20px;
    margin-right: 5px;
    transition: 0.3s;
}
.sub-menus:hover span{
    transform: translate(5px);
}
.sub-menus:hover p{
    font-weight: bold;
    color: var(--primary-color);
}

/* ==== DASHBOARD SECTION ==== */

.dashboard-section {
    margin-top: 30px;
    padding: 60px 20px;
    background-color: var(--background-color); 

}
.dashboard-section .container {
    max-width: 1250px;
    margin: 0 auto;
}
/* Flexbox Layout Wrapper */
.dashboard-grid {
    display: flex;
    gap: 30px; /* Creates space between left and right sides */
    flex-wrap: wrap; /* Ensures responsiveness on smaller screens */
}

/* Titles inside blocks */
.dashboard-section .section-title {
    color: var(--primary-color); /* Matching theme green */
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
}

/* Left Side (Carousel) gets 2/3 of space */

.carousel-block {
    flex: 2;
    min-width: 300px; 
}
.carousel-placeholder {
    position: relative;
    max-width: 700px;
    height: 320px;
    overflow: hidden;

    border-radius: 8px;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
}
.carousel-placeholder .img-slides{
    width: 100%;
    height: 100%;
    position: relative;
}
.img-slides {
    display: flex;
}
.img-slides img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

/* ==== slide button ==== */

.slider-button .previous,
.slider-button .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color1);
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span i{
    font-size: 30px;
}
.slider-button .previous {
    left: 20px;
}
.slider-button .next {
    right: 20px;
}
.slider-button .previous:hover,
.slider-button .next:hover {
   background-color: var(--sub-color);
   opacity: 0.9;
   border-radius: 5px;

/* ==== dots ==== */

}
.dots{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dots .dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0px 3px;

    border: 1.5px solid var(--text-color1);
    border-radius: 50%;
    transition: 0.6 ease;
}
.dots .active{
    background-color: var(--text-color);
}

/* ==== edit carousel button ==== */

.edit-carousel{
    position: absolute;
    top: 10px;
    right: 10px;
}
.edit-carousel button{
    color: var(--text-color1);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 2px 2px 0px var(--text-color);
}
.edit-carousel input{
    display: none;
}

/* Right Side (Activities) gets 1/3 of space */
.dashboard-recent-activities {
    flex: 1;
    min-width: 280px; 
}
.activity-list li {
    margin-bottom: 15px;
    width: 380px;
    height: 320px;
    background: var(--background-color);
    list-style: none;

    border: 1px  solid var(--text-color);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.activity-list a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: var(--text-color);
}
.activity-list .activity-date {
    font-size: 0.85rem;
    color: var(--text-color);
    display: block;
    margin-bottom: 5px;
}
.activity-list p {
    margin: 0;
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--text-color);
}
.view-all {
    display: block;
    position: relative; 
    top: -50px; 
    margin: 0 auto;
}
.dashboard-recent-activities button {
    background-color: var(--grey-color);
    color: var(--text-color);
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}
.dashboard-recent-activities button:hover {
    background-color: var(--sub-color);
    color: var(--text-color1);
}


/* ==== mobile-view ==== */

@media (max-width:954px){
nav .nav-bar{
    max-width: 100%;
    padding: 0 25px;
}
nav .nav-bar .nav-list .list li{
    padding: 0 10px;
}
nav .nav-bar .nav-list .list li a{
    font-size: 13px;
}
nav .nav-bar .admin-logo{
    display: flex;
    margin-left: 10px;
    font-size: 15px;
}
}

@media (max-width:768px){
.nav-bar {
    display: flex;
    align-items: center;
}
.search-box {
    display: flex;
    margin-left: auto; 
    z-index: 1;
}
.notification-section,
.account-section {
    margin-left: 12px;
}
.nav-bar .search-box .search-input{
    left: 0;
    transform: translateX(-60%);
}
nav .nav-bar .nav-list{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    background: var(--primary-color);
    max-width: 260px;
    width: 100%;
    line-height: 40px;
    padding: 15px;
    transition: all 0.3s ease;
    z-index: 10;
}
nav .nav-bar .nav-list .mobileview-logo{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav-list .mobileview-logo{
    color: var(--text-color1);
    font-size: 16px;
    font-weight: 400;
}
.nav-list .mobileview-logo .close{
    font-size: 10px;
}
.nav-bar .menu{
    color: var(--text-color1);
    font-size: 16px;
    display: block;
}
nav .nav-bar .nav-list .list{
    display: block;
    margin-top: 10px;
}
nav .nav-bar .nav-list .list li{
    display: block;
}
.nav-bar .nav-list .list .Issuance-Dropdown{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
}
.nav-bar .nav-list .list li:hover .Issuance-Dropdown{
    display: block;
}
}